.rpsls-score-board {
    width: 50%;
    height: 140px;
    padding: 0px 0px 0px 12px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.rpsls-score-board__score {
    background-color: #fff;
    width: 130px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
}

.rpsls-score-board__score__text {
    color: #3344ab;
    font-family: monospace;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}

.rpsls-score-board__score__value {
    font-size: 45px;
    font-weight: bold;
    font-family: serif;
    color: #666;
}
